USE [master]
GO
/****** Object:  Database [Cines_Heredia2]    Script Date: 3/7/2018 20:52:23 ******/
CREATE DATABASE [Cines_Heredia2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cines_Heredia2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Cines_Heredia2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cines_Heredia2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Cines_Heredia2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cines_Heredia2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cines_Heredia2]
GO
USE [Cines_Heredia2]
GO
/****** Object:  Table [dbo].[Cine_Peli]    Script Date: 3/7/2018 20:52:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cine_Peli](
	[ID_Cine] [int] NULL,
	[ID_Peli] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cines]    Script Date: 3/7/2018 20:52:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cines](
	[ID_Cine] [int] NOT NULL,
	[Nombre_Cine] [varchar](50) NULL,
	[Dirección_Cine] [varchar](50) NULL,
	[Teléfono_Cine] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Cine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Películas]    Script Date: 3/7/2018 20:52:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Películas](
	[ID_Peli] [int] NOT NULL,
	[Nombre_Peli] [varchar](50) NULL,
	[Genero_Peli] [varchar](30) NULL,
	[Director_Peli] [varchar](50) NULL,
	[Clasificación_Peli] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Peli] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prot_Peli]    Script Date: 3/7/2018 20:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prot_Peli](
	[ID_Actor] [int] NULL,
	[ID_Peli] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Protagonistas]    Script Date: 3/7/2018 20:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Protagonistas](
	[ID_Actor] [int] NOT NULL,
	[Protagonista_Peli] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Actor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sal_Cine_Peli]    Script Date: 3/7/2018 20:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sal_Cine_Peli](
	[ID_Sala] [int] NULL,
	[ID_Cine] [int] NULL,
	[ID_Peli] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salas]    Script Date: 3/7/2018 20:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salas](
	[ID_Sala] [int] NOT NULL,
	[Sala_Peli] [int] NULL,
	[Precio_Cine] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Sala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tand_Cine_Peli]    Script Date: 3/7/2018 20:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tand_Cine_Peli](
	[ID_Tanda] [int] NULL,
	[ID_Cine] [int] NULL,
	[ID_Peli] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tandas]    Script Date: 3/7/2018 20:52:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tandas](
	[ID_Tanda] [int] NOT NULL,
	[Horario_Peli] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Tanda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cine_Peli]  WITH CHECK ADD  CONSTRAINT [FK_Cine_Peli_Cines] FOREIGN KEY([ID_Cine])
REFERENCES [dbo].[Cines] ([ID_Cine])
GO
ALTER TABLE [dbo].[Cine_Peli] CHECK CONSTRAINT [FK_Cine_Peli_Cines]
GO
ALTER TABLE [dbo].[Cine_Peli]  WITH CHECK ADD  CONSTRAINT [FK_Cine_Peli_Películas] FOREIGN KEY([ID_Peli])
REFERENCES [dbo].[Películas] ([ID_Peli])
GO
ALTER TABLE [dbo].[Cine_Peli] CHECK CONSTRAINT [FK_Cine_Peli_Películas]
GO
ALTER TABLE [dbo].[Prot_Peli]  WITH CHECK ADD  CONSTRAINT [FK_Prot_Peli_Películas] FOREIGN KEY([ID_Peli])
REFERENCES [dbo].[Películas] ([ID_Peli])
GO
ALTER TABLE [dbo].[Prot_Peli] CHECK CONSTRAINT [FK_Prot_Peli_Películas]
GO
ALTER TABLE [dbo].[Prot_Peli]  WITH CHECK ADD  CONSTRAINT [FK_Prot_Peli_Protagonistas] FOREIGN KEY([ID_Actor])
REFERENCES [dbo].[Protagonistas] ([ID_Actor])
GO
ALTER TABLE [dbo].[Prot_Peli] CHECK CONSTRAINT [FK_Prot_Peli_Protagonistas]
GO
ALTER TABLE [dbo].[Sal_Cine_Peli]  WITH CHECK ADD  CONSTRAINT [FK_Sal_Cine_Peli_Cines] FOREIGN KEY([ID_Cine])
REFERENCES [dbo].[Cines] ([ID_Cine])
GO
ALTER TABLE [dbo].[Sal_Cine_Peli] CHECK CONSTRAINT [FK_Sal_Cine_Peli_Cines]
GO
ALTER TABLE [dbo].[Sal_Cine_Peli]  WITH CHECK ADD  CONSTRAINT [FK_Sal_Cine_Peli_Películas] FOREIGN KEY([ID_Peli])
REFERENCES [dbo].[Películas] ([ID_Peli])
GO
ALTER TABLE [dbo].[Sal_Cine_Peli] CHECK CONSTRAINT [FK_Sal_Cine_Peli_Películas]
GO
ALTER TABLE [dbo].[Sal_Cine_Peli]  WITH CHECK ADD  CONSTRAINT [FK_Sal_Cine_Peli_Salas] FOREIGN KEY([ID_Sala])
REFERENCES [dbo].[Salas] ([ID_Sala])
GO
ALTER TABLE [dbo].[Sal_Cine_Peli] CHECK CONSTRAINT [FK_Sal_Cine_Peli_Salas]
GO
ALTER TABLE [dbo].[Tand_Cine_Peli]  WITH CHECK ADD  CONSTRAINT [FK_Tand_Cine_Peli_Cines] FOREIGN KEY([ID_Cine])
REFERENCES [dbo].[Cines] ([ID_Cine])
GO
ALTER TABLE [dbo].[Tand_Cine_Peli] CHECK CONSTRAINT [FK_Tand_Cine_Peli_Cines]
GO
ALTER TABLE [dbo].[Tand_Cine_Peli]  WITH CHECK ADD  CONSTRAINT [FK_Tand_Cine_Peli_Películas] FOREIGN KEY([ID_Peli])
REFERENCES [dbo].[Películas] ([ID_Peli])
GO
ALTER TABLE [dbo].[Tand_Cine_Peli] CHECK CONSTRAINT [FK_Tand_Cine_Peli_Películas]
GO
ALTER TABLE [dbo].[Tand_Cine_Peli]  WITH CHECK ADD  CONSTRAINT [FK_Tand_Cine_Peli_Tandas] FOREIGN KEY([ID_Tanda])
REFERENCES [dbo].[Tandas] ([ID_Tanda])
GO
ALTER TABLE [dbo].[Tand_Cine_Peli] CHECK CONSTRAINT [FK_Tand_Cine_Peli_Tandas]
GO
USE [master]
GO
